@model AbstractTravelAgencyServiceDAL.ViewModel.CityViewModel

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <table class="table">
        <tr>
            <th>
                <label>Условие</label>
            </th>
            <th>
                <label>Количество</label>
            </th>
        </tr>

        @foreach (var item in Model.CityConditions)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td></td>
        </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Вернуться к списку городов", "List")
</p>
