@{
    ViewBag.Title = "Отчеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Отчеты</h2>
@Html.ValidationSummary(true)

@Html.ActionLink("Отчеты клиентов", "CustomerBookings")
@Html.ActionLink("Загруженность городов", "CitiesLoad")
@Html.ActionLink("Прайс путевок", "VoucherPrice")